<template name="liveMatchs">
    <h1>{{_ "runningGames"}}</h1>
    {{#each game}}
        <div class="row shadow displayLiveGames vertical-align">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10">
                <div class="row">
                    <h4>{{_ "category"}} : {{gameInfos.category}} / {{_ "level"}} : {{gameInfos.level}} / {{_ "group"}} : {{gameInfos.group}}</h4>
                </div>
                <div class="row">
                    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h3>{{gameInfos.homeTeam}}</h3>
                    </div>
                    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h3>{{gameInfos.awayTeam}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <h4>{{gameStats.score.homeTeam}}</h4>
                    </div>
                    <div class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        {{#if notStarted}}
                            <h4>{{_ "notStarted"}}</h4>
                        {{/if}}
                        {{#if q1Running}}
                            <h4>{{_ "q1Running"}}</h4>
                        {{/if}}
                        {{#if q1Ended}}
                            <h4>{{_ "q1Ended"}}</h4>
                        {{/if}}
                        {{#if q2Running}}
                            <h4>{{_ "q2Running"}}</h4>
                        {{/if}}
                        {{#if halfTime}}
                            <h4>{{_ "halfTime"}}</h4>
                        {{/if}}
                        {{#if q3Running}}
                            <h4>{{_ "q3Running"}}</h4>
                        {{/if}}
                        {{#if q3Ended}}
                            <h4>{{_ "q3Ended"}}</h4>
                        {{/if}}
                        {{#if q4Running}}
                            <h4>{{_ "q4Running"}}</h4>
                        {{/if}}
                    </div>
                    <div class="text-center col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <h4>{{gameStats.score.awayTeam}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                <a href="{{pathFor 'gameStats'}}">
                    <button type="button" class="shadow pull-right btn btn-default"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
                </a>
            </div>
        </div>
        {{else}}
            <p>{{_ "noLiveGames"}}</p>
            <p>
                {{>creationGame}}
            </p>
    {{/each}}
</template>
