template(name='playersSettings')
	with gameData
		+gameInfos
		h3 {{_ "playerDefinition"}} : #{gameInfos.yourClub}
		.players.row
			each playerData
				+playerUpdate
		h3 {{_ "coachDefinition"}} : #{gameInfos.yourClub}
		.coachs.row
			each coachData
				+coachUpdate