footer {
    bottom: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    position: fixed;
    z-index: 1030;
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    border-radius: 4px;
    min-height: 50px;
    border: 1px solid #E7E7E7;
    display: block;
    background-color: #F8F8F8;
}
