<template name="footer">
    <div class='navbar hidden-xs hidden-sm shadow navbar-default navbar-fixed-bottom' role='navigation'>
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Link for the about page -->
                <li><a href="{{pathFor 'about'}}">{{_ "about"}}</a></li>
                <!-- Link for the page description of the PRO version -->
                <li><a href="{{pathFor 'proVersionTest'}}">{{_ "proVersionTest"}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-right"><a href="#">v0.6.0-alpha</a></li>
            </ul>
        </div>
    </div>
</template>
