template(name="liveGames")
	ul.nav.nav-tabs(role="tablist")
		li.active(role="presentation")
			a(href="#ongoingGames", role="tab", data-toggle="tab" aria-controls="ongoingGames") {{_ "runningGames"}}
		li(role="presentation")
			a(href="#completedGames", role="tab", data-toggle="tab" aria-controls="completedGames") {{_ "endedGames"}}
		if currentUser
			li(role="presentation")
				a(href="#myGames", role="tab", data-toggle="tab" aria-controls="myGames") {{_ "myGames"}}
	if Template.subscriptionsReady
		.tab-content
			#ongoingGames.tab-pane.active(role="tabpanel")
				.container
					.row
						each liveGame
							+gameCard
						else
							h5 {{_ "noLiveGames"}}
							+creationGame
			#completedGames.tab-pane(role="tabpanel")
				.container
					.row
						each endedGame
							+gameCard
						else
							h5 {{_ "noCompletedLiveGames"}}
			if currentUser
				#myGames.tab-pane(role="tabpanel")
					.container
						.row
							each myGame
								+gameCard
							else
								+creationGame
	else
		+spinner