template(name='liveGames')
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#ongoingGames-tab(href='#ongoingGames', role='tab', data-toggle='tab', aria-controls='ongoingGames', aria-expanded='true') {{_ "runningGames"}}
		li(role='presentation')
			a#completedGames-tab(href='#completedGames', role='tab', data-toggle='tab', aria-controls='completedGames') {{_ "endedGames"}}
		if currentUser
			li(role='presentation')
				a#myGames-tab(href='#myGames', role='tab', data-toggle='tab', aria-controls='myGames') {{_ "myGames"}}
	.tab-content
		#ongoingGames.tab-pane.fade.in.active(role='tabpanel', aria-labelledby='ongoingGames-tab')
			.container
				.row
					each liveGame
						+gameCard
					else
						h5 {{_ "noLiveGames"}}
						+creationGame
		#completedGames.tab-pane.fade(role='tabpanel', aria-labelledby='completedGames-tab')
			.container
				.row
					each endedGame
						+gameCard
					else
						h5 {{_ "noCompletedLiveGames"}}
		if currentUser
			#myGames.tab-pane.fade(role='tabpanel', aria-labelledby='myGames-tab')
				.container
					.row
						each myGame
							+gameCard
						else
							+creationGame