<template name="stats">
  <div>
    <h3>Joueurs en jeu</h3>
    <div>
      <p>Equipe domicile</p>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">.col-xs-2</div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">.col-xs-2</div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">.col-xs-2</div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">.col-xs-2</div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">.col-xs-2</div>
      </div>
    </div>
    <div>
      <p>Equipe extérieur</p>
    </div>
  </div>
</template>
