body
	padding-top 70px
	.col-md-2, .col-lg-2, .col-sm-3, .col-xs-4
		padding-right 5px
		padding-left 5px
	@-moz-document url-prefix()
		fieldset
			display table-cell
	.no-games, .displayReplacement
		margin 0 0 0 15px
	.tab-content
		padding-top 10px
	.yourClubPlayers .inPlay, .opponentPlayers .inPlay
		background-color #ADF5FF
	.bg-info
		padding 5px
	#deleteUser
		margin-top 20px
	.modal
		.thumbnail
			margin-bottom 10px
	#yourClubInPlay, #yourClubOnTheBench, #opponentInPlay, #opponentOnTheBench
		.thumbnail
			margin-bottom 10px