body
	padding-top 70px
	@-moz-document url-prefix()
		fieldset
			display table-cell
	.no-games, .displayReplacement
		margin 0 0 0 15px
	.tab-content
		padding-top 10px
	.yourClubPlayers .inPlay, .opponentPlayers .inPlay
		background-color #ADF5FF
	.bg-info
		padding 5px
	#deleteUser
		margin-top 20px
