template(name='awayTeamPlayerModal')
	#awayTeamPlayerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#myModalLabel.modal-title {{_ "whoIsDoingThisAction"}}
				.modal-body
					.OffActions
						h4 {{_ "offAction"}}
						.row.actions
							button#onePoint.btn.buttonForAction.shadow.btn-success.col-xs-3.col-sm-2.col-md-2.col-lg-2(data-dismiss='modal', type='button') {{_ "oneFT"}}
							button#twoPoint.btn.buttonForAction.shadow.btn-success.col-xs-3.col-sm-2.col-md-2.col-lg-2(data-dismiss='modal', type='button') {{_ "twoPoints"}}
							button#threePoint.btn.buttonForAction.shadow.btn-success.col-xs-3.col-sm-2.col-md-2.col-lg-2(data-dismiss='modal', type='button') {{_ "threePoints"}}
				.modal-footer
					button#correctionAction.btn.shadow.pull-left.btn-warning(type='button') {{_ "correctionAction"}}
					button#closeModalButton.btn.shadow.btn-default(type='button', data-dismiss='modal') {{_ "closeModal"}}
