<template name="homeTeamPlayerPill">
    <button disabled='{{endedGames}}' class="homeTeamPillForModal shadow btn col-xs-4 col-sm-3 col-md-2 col-lg-2" data-toggle="modal" data-target="#homeTeamPlayerModal" type="button">{{_ "number"}} <span class="badge">{{jersey}}</span></button>
</template>
<template name="awayTeamPlayerPill">
    <button disabled='{{endedGames}}' class="awayTeamPillForModal shadow btn col-xs-4 col-sm-3 col-md-2 col-lg-2" data-toggle="modal" data-target="#awayTeamPlayerModal" type="button">{{_ "number"}} <span class="badge">{{jersey}}</span></button>
</template>
