template(name="replacement")
	#replacementAction
		h3 {{_ "whoReplaceWho"}}
		.clearfix
			h4 {{_ "homeTeam"}} : #{gameInfos.homeTeam}
			p {{_ "explanationHowToMakeAReplacement"}}
			h4 {{_ "inPlay"}}
			#homeTeamInPlay.row.playerRow
			h4 {{_ "onTheBench"}}
			#homeTeamOnTheBench.row.playerRow
				each homeTeam.players
					+homeTeamPlayerReplacement
			button.validateInPlayPlayers.btn.shadow.btn-primary(type='button') {{_ "validateReplacement"}}
		.clearfix
			h4 {{_ "awayTeam"}} : #{gameInfos.awayTeam}
			p {{_ "explanationHowToMakeAReplacement"}}
			h4 {{_ "inPlay"}}
			#awayTeamInPlay.row.playerRow
			h4 {{_ "onTheBench"}}
			#awayTeamOnTheBench.row.playerRow
				each awayTeam.players
					+awayTeamPlayerReplacement
			button.validateInPlayPlayers.btn.shadow.btn-primary(type='button') {{_ "validateReplacement"}}