<template name="stats">
    <div class="row">
        <div class="score col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <h4>{{_ "gameScore"}}</h4> {{gameInfos.homeTeam}} - {{gameStats.score.homeTeam}}
            <br> {{gameInfos.awayTeam}} - {{gameStats.score.awayTeam}}
        </div>
        <div class="score col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <h4>{{_ "shootPercentage"}}</h4>
            <div>
                {{_ "twoPoints"}} {{homeTeamPercentage2PointsShoots}} % - {{_ "threePoints"}} {{homeTeamPercentage3PointsShoots}} %
                <br> {{_ "twoPoints"}} {{awayTeamPercentage2PointsShoots}} % - {{_ "threePoints"}} {{awayTeamPercentage3PointsShoots}} %
            </div>
        </div>
        <div class="score hidden-xs col-sm-4 col-md-4 col-lg-4">
            <h4>{{_ "mvp"}}</h4>
            <div>
                {{_ "num"}}{{bestHomeTeamPlayer.jersey}} - {{bestHomeTeamPlayer.totalPoints}} {{_ "pts"}} - {{bestHomeTeamPlayer.evaluation}} {{_ "eval"}}
                <br> {{_ "num"}}{{bestAwayTeamPlayer.jersey}} - {{bestAwayTeamPlayer.totalPoints}} {{_ "pts"}} - {{bestAwayTeamPlayer.evaluation}} {{_ "eval"}}
            </div>
        </div>
    </div>
    <div class="clearfix">
        <h4>Fait de match :</h4>
        <div>
            {{#if notStarted}}
                <button class="btn shadow btn-primary col-xs-8 col-sm-6 col-md-4 col-lg-4" id="notStarted" type="button">{{_ "labelNotStarted"}}</button>
            {{/if}}
            {{#if q1Running}}
                <button class="btn shadow btn-primary col-xs-8 col-sm-6 col-md-4 col-lg-4" id="q1Running" type="button">{{_ "labelQ1Running"}}</button>
            {{/if}}
            {{#if q1Ended}}
                <button class="btn shadow btn-primary col-xs-8 col-sm-6 col-md-4 col-lg-4" id="q1Ended" type="button">{{_ "labelQ1Ended"}}</button>
            {{/if}}
            {{#if q2Running}}
                <button class="btn shadow btn-primary col-xs-8 col-sm-6 col-md-4 col-lg-4" id="q2Running" type="button">{{_ "labelQ2Running"}}</button>
            {{/if}}
            {{#if halfTime}}
                <button class="btn shadow btn-primary col-xs-8 col-sm-6 col-md-4 col-lg-4" id="halfTime" type="button">{{_ "labelHalfTime"}}</button>
            {{/if}}
            {{#if q3Running}}
                <button class="btn shadow btn-primary col-xs-8 col-sm-6 col-md-4 col-lg-4" id="q3Running" type="button">{{_ "labelQ3Running"}}</button>
            {{/if}}
            {{#if q3Ended}}
                <button class="btn shadow btn-primary col-xs-8 col-sm-6 col-md-4 col-lg-4" id="q3Ended" type="button">{{_ "labelQ3Ended"}}</button>
            {{/if}}
            {{#if q4Running}}
                <button class="btn shadow btn-primary col-xs-8 col-sm-6 col-md-4 col-lg-4" id="q4Running" type="button">{{_ "labelQ4Running"}}</button>
            {{/if}}
            {{#if gameEnded}}
                <button class="btn shadow btn-primary col-xs-8 col-sm-6 col-md-4 col-lg-4" disabled="disabled" id="gameEnded" type="button">{{_ "labelGameEnded"}}</button>
            {{/if}}
        </div>
    </div>
    <h4>{{_ "playerInGame"}}</h4>
    <p>{{_ "explanationHowToAddAStat"}}</p>
    <div class="clearfix">
        <h4>{{_ "homeTeam"}} : {{gameInfos.homeTeam}}</h4>
        <div class="homeTeam row playerRow">
            {{#each homeTeam.players}}
                {{>homeTeamPlayerPill}} {{>playerModal}}
            {{/each}}
        </div>
    </div>
    <div class="clearfix">
        <h4>{{_ "awayTeam"}} : {{gameInfos.awayTeam}}</h4>
        <div class="awayTeam row playerRow">
            {{#each awayTeam.players}}
                {{>awayTeamPlayerPill}} {{>playerModal}}
            {{/each}}
        </div>
    </div>
</template>
