<template name="stats">
    <div class="clearfix">
        <h4>{{_ "gameQuarters"}}</h4>
        {{#if notStarted}}
            <button class="btn shadow btn-primary" id="notStarted" type="button">{{_ "labelNotStarted"}}</button>
        {{/if}}
        {{#if q1Running}}
            <button class="btn shadow btn-primary" id="q1Running" type="button">{{_ "labelQ1Running"}}</button>
        {{/if}}
        {{#if q1Ended}}
            <button class="btn shadow btn-primary" id="q1Ended" type="button">{{_ "labelQ1Ended"}}</button>
        {{/if}}
        {{#if q2Running}}
            <button class="btn shadow btn-primary" id="q2Running" type="button">{{_ "labelQ2Running"}}</button>
        {{/if}}
        {{#if halfTime}}
            <button class="btn shadow btn-primary" id="halfTime" type="button">{{_ "labelHalfTime"}}</button>
        {{/if}}
        {{#if q3Running}}
            <button class="btn shadow btn-primary" id="q3Running" type="button">{{_ "labelQ3Running"}}</button>
        {{/if}}
        {{#if q3Ended}}
            <button class="btn shadow btn-primary" id="q3Ended" type="button">{{_ "labelQ3Ended"}}</button>
        {{/if}}
        {{#if q4Running}}
            <button class="btn shadow btn-primary" id="q4Running" type="button">{{_ "labelQ4Running"}}</button>
        {{/if}}
        {{#if gameEnded}}
            <button class="btn shadow btn-primary" disabled="disabled" id="gameEnded" type="button">{{_ "labelGameEnded"}}</button>
        {{/if}}
    </div>
    <div class="clearfix">
        <h4>{{_ "homeTeam"}} : {{gameInfos.homeTeam}}</h4>
        <p>{{_ "explanationHowToAddAStat"}}</p>
        <div class="homeTeam row playerRow">
            {{#each homeTeam.players}}
                {{>homeTeamPlayerPill}} {{>playerModal}}
            {{/each}}
        </div>
    </div>
    <div class="clearfix">
        <h4>{{_ "awayTeam"}} : {{gameInfos.awayTeam}}</h4>
        <p>{{_ "explanationHowToAddAStat"}}</p>
        <div class="awayTeam row playerRow">
            {{#each awayTeam.players}}
                {{>awayTeamPlayerPill}} {{>playerModal}}
            {{/each}}
        </div>
    </div>
</template>
