template(name='opponentPlayerModal')
	.modal.fade(id='#{modalId}',tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#myModalLabel.modal-title {{_ "whoIsDoingThisAction"}}
				.modal-body
					.offActions
						h4 {{_ "offAction"}}
						.row.actions
							.col-xs-4.col-sm-4.col-md-4.col-lg-4
								button.onePoint.btn.buttonForAction.btn-block.btn-success(data-dismiss='modal', type='button') {{_ "oneFT"}}
							.col-xs-4.col-sm-4.col-md-4.col-lg-4
								button.twoPoints.btn.buttonForAction.btn-block.btn-success(data-dismiss='modal', type='button') {{_ "twoPoints"}}
							.col-xs-4.col-sm-4.col-md-4.col-lg-4
								button.threePoints.btn.buttonForAction.btn-block.btn-success(data-dismiss='modal', type='button') {{_ "threePoints"}}
				.modal-footer
					button#correctionAction.btn.pull-left.btn-warning(type='button') {{_ "correctionAction"}}
					button#closeModalButton.btn.btn-default(type='button', data-dismiss='modal') {{_ "closeModal"}}
