<template name="officialGame">
    <div class="officialGame">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">{{_ "homeTeam"}}</span>
            <input type="text" id="homeTeam" class="form-control" value="{{gameInfos.homeTeam}}">
        </div>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">{{_ "awayTeam"}}</span>
            <input type="text" id="awayTeam" class="form-control" value="{{gameInfos.awayTeam}}">
        </div>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">{{_ "category"}}</span>
            <input type="text" id="category" class="form-control" placeholder="Sénior Filles" value="{{gameInfos.category}}">
        </div>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">{{_ "level"}}</span>
            <input type="text" id="level" class="form-control" placeholder="Excellence régionale" value="{{gameInfos.level}}">
        </div>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">{{_ "group"}}</span>
            <input type="text" id="group" class="form-control" placeholder="A" value="{{gameInfos.group}}">
        </div>
    </div>
</template>
