<template name="updateGameConfiguration">
  <div id="step1" class="show">
    <h2>Définis les équipes...</h2>
    <div class="row">
      {{#if hasIVisitedStep2}}
        <button class='btn btn-primary pull-right clearfix' id="step1Next" type='button'>Etape suivante</button>
      {{/if}}
    </div>
    {{>officialGame}}
    <div class="footer">
      <a href="{{pathFor 'home'}}">
        <button type="button" class="btn pull-left btn-info">Retour</button>
      </a>
      <button type="button" id="nextStep" class="btn pull-right btn-primary">Suivant</button>
    </div>
  </div>
  <div id="step2" class="hidden">
    <h2>Définis les joueurs...</h2>
    <div class="row">
      <button class='btn btn-primary pull-left' id="step2Previous" type='button'>Etape précédente</button>
      <button type="button" class="submitGameConfiguration btn pull-right btn-success">Validez votre configuration</button>
    </div>
    <div class="homeTeam clearfix">
      <h3>Equipe domicile</h3>
      {{#each homeTeam.players}}
        {{>playerDefinition}}
      {{/each}}
      {{#each homeTeam.coachs}}
        {{>coachDefinition}}
      {{/each}}
    </div>
    <div class="awayTeam clearfix">
      <h3>Equipe extérieur</h3>
      {{#each awayTeam.players}}
        {{>playerDefinition}}
      {{/each}}
      {{#each awayTeam.coachs}}
        {{>coachDefinition}}
      {{/each}}
    </div>
    <div class="footer">
      <a href="{{pathFor 'home'}}">
        <button type="button" class="returnButton btn pull-left btn-info">Retour</button>
      </a>
      <button type="button" class="submitGameConfiguration btn pull-right btn-success">Validez votre configuration</button>
    </div>
  </div>
</template>
