.player {
  margin: 2px;
}

.ongoingGames {
  margin: 2px 2px 5px 2px;
}

.gameType {
  margin: 20px;
}

.officialGame {
  margin-top: 20px;
}

.officialGame div {
  margin: 5px;
}

.footer {
  margin-top: 20px;
}

.playerDefinition {
  margin-bottom: 20px;
}

.coachDefinition {
  margin-bottom: 20px;
}

.playerDefinition div {
  margin-bottom: 5px;
}

.coachDefinition div {
  margin-bottom: 5px;
}
