body
	padding 70px 0 70px 0
	.no-games
		margin 0 0 0 15px
	.officialGame
		margin 20px 0 0 0
		div
			margin 0 0 5px 0
	.coach, .player
		div
			margin 0 0 5px 0
	.footer
		margin 20px 0 0 0
	.removeCoach, .removePlayer
		margin 0 0 0 5px
	.actions
		button
			margin 10px 0 0 0
