<template name="coachUpdate">
  <div class="coach col-sm-4">
    <h4>Coach</h4>
    <input type="number" class="hidden coachIndex" value="{{coachIndex}}">
    <input type="text" class="hidden team" value="{{team}}">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Nom</span>
      <input type="text" class="lastName form-control" value="{{lastName}}">
    </div>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Prénom</span>
      <input type="text" class="firstName form-control" value="{{firstName}}">
    </div>
  </div>
</template>
