<template name="newGame">
  <div id="step1" class="show">
    <h2>Définis les équipes...</h2>
    <div class="row">
      {{#if hasIVisitedStep2}}
        <button class='btn btn-primary pull-right clearfix' id="step1Next" type='button'>Etape suivante</button>
      {{/if}}
    </div>
    <div class="officialGame">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Equipe à domicile</span>
        <input type="text" id="homeTeam" class="form-control">
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Equipe à l'extérieur</span>
        <input type="text" id="awayTeam" class="form-control">
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Catégorie</span>
        <input type="text" id="category" class="form-control" placeholder="Sénior Filles">
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Niveau</span>
        <input type="text" id="level" class="form-control" placeholder="Excellence régionale">
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Poule</span>
        <input type="text" id="group" class="form-control" placeholder="A">
      </div>
    </div>
    <div class="footer">
      <a href="{{pathFor 'home'}}">
        <button type="button" class="btn pull-left btn-info">Retour</button>
      </a>
      <button type="button" id="nextStep" class="btn pull-right btn-primary">Suivant</button>
    </div>
  </div>
  <div id="step2" class="hidden">
    <h2>Définis les joueurs...</h2>
    <div class="row">
      <button class='btn btn-primary pull-left' id="step2Previous" type='button'>Etape précédente</button>
      <button type="button" id="submitGameConfiguration" class="btn pull-right btn-success">Validez votre configuration</button>
    </div>
    <div class="homeTeam clearfix">
      <h3>Equipe domicile</h3>
      <div class="row">
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #1</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player1LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player1FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player1Jersey" min="1" class="form-control" placeholder="1">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #2</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player2LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player2FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player2Jersey" min="1" class="form-control" placeholder="2">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #3</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player3LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player3FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player3Jersey" min="1" class="form-control" placeholder="3">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #4</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player4LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player4FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player4Jersey" min="1" class="form-control" placeholder="4">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #5</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player5LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player5FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player5Jersey" min="1" class="form-control" placeholder="5">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #6</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player6LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player6FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player6Jersey" min="1" class="form-control" placeholder="6">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #7</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player7LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player7FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player7Jersey" min="1" class="form-control" placeholder="7">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #8</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player8LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player8FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player8Jersey" min="1" class="form-control" placeholder="8">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #9</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player9LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player9FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player9Jersey" min="1" class="form-control" placeholder="9">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #10</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player10LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player10FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player10Jersey" min="1" class="form-control" placeholder="10">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #11</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player11LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player11FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player11Jersey" min="1" class="form-control" placeholder="11">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #12</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player12LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player12FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player12Jersey" min="1" class="form-control" placeholder="12">
          </div>
        </div>
      </div>
      <div class="coachDefinition col-sm-4">
        <h4>Coach</h4>
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Nom</span>
          <input type="text" id="coach1LastName" class="form-control">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Prénom</span>
          <input type="text" id="coach1FirstName" class="form-control">
        </div>
      </div>
      <div class="coachDefinition col-sm-4">
        <h4>Assistant coach</h4>
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Nom</span>
          <input type="text" id="AssistantCoach1LastName" class="form-control">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Prénom</span>
          <input type="text" id="AssistantCoach1FirstName" class="form-control">
        </div>
      </div>
    </div>
    <div class="awayTeam">
      <h3>Equipe extérieur</h3>
      <div class="row">
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #1</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player13LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player13FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player13Jersey" min="1" class="form-control" placeholder="1">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #2</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player14LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player14FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player14Jersey" min="1" class="form-control" placeholder="2">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #3</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player15LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player15FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player15Jersey" min="1" class="form-control" placeholder="3">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #4</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player16LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player16FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player16Jersey" min="1" class="form-control" placeholder="4">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #5</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player17LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player17FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player17Jersey" min="1" class="form-control" placeholder="5">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #6</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player18LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player18FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player18Jersey" min="1" class="form-control" placeholder="6">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #7</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player19LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player19FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player19Jersey" min="1" class="form-control" placeholder="7">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #8</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player20LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player20FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player20Jersey" min="1" class="form-control" placeholder="8">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #9</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player21LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player21FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player21Jersey" min="1" class="form-control" placeholder="9">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #10</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player22LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player22FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player22Jersey" min="1" class="form-control" placeholder="10">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #11</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player23LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player23FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player23Jersey" min="1" class="form-control" placeholder="11">
          </div>
        </div>
        <div class="playerDefinition col-sm-4">
          <h4>Joueur #12</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="player24LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="player24FirstName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Numéro</span>
            <input type="number" id="player24Jersey" min="1" class="form-control" placeholder="12">
          </div>
        </div>
        <div class="coachDefinition col-sm-4">
          <h4>Coach</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="coach2LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="coach2FirstName" class="form-control">
          </div>
        </div>
        <div class="coachDefinition col-sm-4">
          <h4>Assistant coach</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Nom</span>
            <input type="text" id="AssistantCoach2LastName" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Prénom</span>
            <input type="text" id="AssistantCoach2FirstName" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <a href="{{pathFor 'home'}}">
        <button type="button" class="btn pull-left btn-info">Retour</button>
      </a>
      <button type="button" id="submitGameConfiguration
" class="btn pull-right btn-success">Validez votre configuration</button>
    </div>
  </div>
</template>
