<template name="newGame">
  <div id="step1" class="show">
    <h2>Définis les équipes...</h2>
    <div class="row">
      {{#if hasIVisitedStep2}}
        <button class='btn btn-primary pull-right clearfix' id="step1next" type='button'>Etape suivante</button>
      {{/if}}
    </div>
    <div class="officialGame">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Equipe à domicile</span>
        <input type="text" class="form-control">
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Equipe à l'extérieur</span>
        <input type="text" class="form-control">
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Catégorie</span>
        <input type="text" class="form-control" placeholder="Sénior Filles">
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Niveau</span>
        <input type="text" class="form-control" placeholder="Excellence régionale">
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Poule</span>
        <input type="text" class="form-control" placeholder="A">
      </div>
    </div>
    <div class="footer">
      <button type="button" class="btn pull-left btn-primary">Précédent</button>
      <button type="button" class="btn pull-right btn-primary">Suivant</button>
    </div>
  </div>
  <div id="step2" class="hidden">
  </div>
</template>
