<template name='playerModal'>
  <div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Quelle action a été réalisée par...</h4>
        </div>
        <div class="modal-body">
          <div class="OffActions">
            <h4>Action offensive</h4>
            <div class="row actions">
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">1 pt</button>
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">2 pt</button>
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">3 pt</button>
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">P. décisive</button>
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Reb off</button>
            </div>
            <div class="row actions">
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">1 pt</button>
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">2 pt</button>
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">3 pt</button>
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">B. perdues</button>
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Ft. off</button>
            </div>
            <div class="row actions">
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Fte prov</button>
            </div>
          </div>
          <div class="DefActions">
            <h4>Action défensive</h4>
            <div class="row actions">
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Interc</button>
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Contre</button>
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Reb def</button>
              <button class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Ft. prov</button>
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Faute</button>
            </div>
            <div class="row actions">
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Ft. 1 LF</button>
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Ft. 2 LF</button>
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Ft. 3 LF</button>
            </div>
          </div>
          <div class="OtherActions">
            <h4>Autres fautes</h4>
            <div class="row actions">
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Ft. Technique</button>
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Ft. anti-sportive</button>
              <button class="btn btn-danger col-xs-2 col-sm-2 col-md-2 col-lg-2" type="button">Ft. discalifiante</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>
