<template name="stats">
  <div>
    <h3>Joueurs en jeu</h3>
    <p>Cliquez un numéro pour ajouter une action à ce joueur</p>
    <div>
      <h4>Equipe domicile : {{gameInfos.homeTeam}}</h4>
      <div class="homeTeam row playerRow">
        {{#each homeTeam.players}} {{>homeTeamPlayerPill}} {{/each}}
      </div>
    </div>
    <div>
      <h4>Equipe extérieur : {{gameInfos.awayTeam}}</h4>
      <div class="awayTeam row playerRow">
        {{#each awayTeam.players}} {{>awayTeamPlayerPill}} {{/each}}
      </div>
    </div>
  </div>
  {{>playerModal}}
</template>
