template(name="playerReplacement")
	.col-xs-6.col-sm-4.col-md-3.col-lg-3
		.thumbnail
			button.btn.btn-block(class="#{buttonClass}" data-toggle="modal" data-target="#replacementModal")
				strong #{jersey}