<template name="liveGames">
    <div role="tabpanel">
        <ul class="nav nav-pills liveGamesPills" role="tablist">
            <li role="presentation" class="active"><a href="#ongoingGames" id="ongoingGames-tab" role="tab" data-toggle="tab" aria-controls="ongoingGames" aria-expanded="true">{{_ "runningGames"}}</a></li>
            <li role="presentation"><a href="#completedGames" role="tab" id="completedGames-tab" data-toggle="tab" aria-controls="completedGames">{{_ "endedGames"}}</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="ongoingGames" aria-labelledBy="ongoingGames-tab">
                {{>ongoingLiveGames}}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="completedGames" aria-labelledBy="completedGames-tab">
                {{>completedLiveGames}}
            </div>
        </div>
    </div>
</template>
