<template name="myClub">
    <div id="presentation">
        <h1>{{name}}</h1>
        <p>{{_ "region"}} : {{region}}</p>
        <p>{{_ "department"}} : {{department}}</p>
        <p>{{_ "city"}} : {{city}}</p>
        <p>{{_ "jerseyColor"}} :
            <div class="displayJerseyColor" style="background-color:{{jerseyColor}};"></div>
        </p>
    </div>
    <div id="teams">
        <h2>{{_ "yourTeams"}}</h2>
        <a href="{{pathFor 'newTeamDefinition'}}">
            <button class="btn btn-primary shadow" type='button'>{{_ "goTeamDefinition"}}</button>
        </a>
    </div>
</template>
