template(name='home')
	.jumbotron.shadow.text-center
		h1 {{_ "ApplicationName"}}
		p {{_ "appTeaserPhrase"}}
		if currentUser
			+creationGame
		else
			p {{_ "loginToBeginTakingStats"}}
	div
		h2 {{_ "followDirect"}}
		.row
			each game
				+GameCard
			else
				p.no-games {{_ "noLiveGames"}}
		p
			a(href="{{pathFor 'liveGames'}}") {{_ "orSelectARunningGame"}}
	div
		h2 {{_ "seeEndedGames"}}
		.row
			each endedGame
				+GameCard
			else
				p.no-games {{_ "noLiveGames"}}
		p
			a(href="{{pathFor 'liveGames'}}") {{_ "orSelectAnEndedGame"}}
	+footer
