template(name='gameSettings')
	with gameData
		+gameInfos
		.panel.panel-default
			.panel-heading
				p.panel-title {{_ "playerDefinition"}} : #{gameInfos.yourClub}
			.panel-body
				.players.row
					each playerData
						+playerUpdate
		.panel.panel-default
			.panel-heading
				p.panel-title {{_ "coachDefinition"}} : #{gameInfos.yourClub}
			.panel-body
				.coachs.row
					each coachData
						+coachUpdate