template(name='gameSettings')
	with gameData
		+gameInfos(gameInfos=gameData)
		.panel.panel-default
			.panel-heading
				p.panel-title {{_ "playerDefinition"}} : #{yourClub}
			.panel-body
				.players.row
					each playerData
						+playerUpdate