template(name="teamsAndScore")
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		.panel.panel-default
			.panel-heading
				p.panel-title.text-center #{yourClub} - #{opponent}
			.panel-body
				h3.text-center #{yourClubScore} - #{opponentScore}