template(name='coachDefinition')
	.coach.col-sm-4
		h4 {{_ "coach"}}
		input.coachIndex.hidden.form-control(type='text', value='#{coachIndex}')
		.input-group.shadow.input-group-sm
			span.input-group-addon {{_ "name"}}
			input.lastName.form-control(type='text', value='#{lastName}')
		.input-group.shadow.input-group-sm
			span.input-group-addon {{_ "firstName"}}
			input.firstName.form-control(type='text', value='#{firstName}')
