template(name='participantsDefinition')
	h2 {{_ "playerDefinition"}}
	.clearfix
		a(href="{{pathFor 'gameDefinition'}}")
			button.btn.shadow.pull-left.btn-info(type='button') {{_ "back"}}
		button.submitGameConfiguration.shadow.btn.pull-right.btn-success(type='button') {{_ "configurationValidation"}}
	.homeTeam.clearfix
		h3 {{_ "yourTeam"}} : #{gameInfos.homeTeam}
		each homeTeam.players
			+playerDefinition
		each homeTeam.coachs
			+coachDefinition
	.awayTeam.hidden.clearfix
		h3 {{_ "yourTeam"}} : #{gameInfos.awayTeam}
		each awayTeam.players
			+playerDefinition
		each awayTeam.coachs
			+coachDefinition
	.footer
		a(href="{{pathFor 'gameDefinition'}}")
			button.btn.shadow.pull-left.btn-info(type='button') {{_ "back"}}
		button.submitGameConfiguration.shadow.btn.pull-right.btn-success(type='button') {{_ "configurationValidation"}}
