<template name="completedGames">
  <h1>{{_ "endedGames"}}</h1>
  {{#each endedGames}}
    <div class="row ongoingGames">
      <div class="row vertical-align">
        <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-5">
          <h3>{{gameInfos.homeTeam}}</h3>
        </div>
        <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-5">
          <h3>{{gameInfos.awayTeam}}</h3>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
          <a href="{{pathFor 'gameStats'}}">
            <button type="button" class="pull-right btn btn-default"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
          </a>
        </div>
      </div>
      <div class="row vertical-align">
        <div class="text-center col-xs-3 col-sm-3 col-md-3 col-lg-4">
          <h4>{{gameStats.score.homeTeam}}</h4>
        </div>
        <div class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <h4>{{_ "gameEnded"}}</h4>
        </div>
        <div class="text-center col-xs-3 col-sm-3 col-md-3 col-lg-4">
          <h4>{{gameStats.score.awayTeam}}</h4>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <button type="button" class="pull-right btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
      </div>
    </div>
  {{/each}}
</template>
