<template name="ongoingGames">
  <h1>Match en cours</h1>
  {{#each runningGames}}
    <div class="row ongoingGames">
      <p class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{gameInfos.homeTeam}}</p>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <p class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{gameInfos.awayTeam}}</p>
      <div class="">
        <a href="{{pathFor 'gameStats'}}">
          <button type="button" class="btn btn-default">
            Retour au match <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          </button>
        </a>
        <button type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    {{else}}
      <p>Oups... Tu n'as pas créé un match pour prendre les stats</p>
      <p>
        {{>creationGame}}
      </p>
  {{/each}}
</template>
