<template name="ongoingGames">
  <h1>Match en cours</h1>
  {{#each runningGames}}
    <div class="row ongoingGames">
      <p class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{gameInfos.homeTeam}}</p>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"></div>
      <p class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{gameInfos.awayTeam}}</p>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <a href="{{pathFor 'gameStats'}}">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Star
          </button>
        </a>
      </div>
    </div>
    {{else}}
      <p>Oups... Tu n'as pas créé un match pour prendre les stats</p>
      <p>
        <a href="{{pathFor 'gameStats'}}">
          <button class='btn btn-primary newGame' type='button'>Clique ici pour commencer à prendre les stats d'un match !</button>
        </a>
      </p>
  {{/each}}
</template>
