<template name="coachUpdate">
    <div class="coach col-sm-4">
        <h4>{{_ "coach"}}</h4>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "name"}}</span>
            <input type="text" class="lastName form-control" disabled="disabled" value="{{lastName}}">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "firstName"}}</span>
            <input type="text" class="firstName form-control" disabled="disabled" value="{{firstName}}">
        </div>
        <button class="btn btn-primary shadow btn-sm coachUpdate" id="{{modifyButton}}" type='button'>{{_ "modify"}}</button>
        <button class='btn btn-success shadow disabled btn-sm coachValidation' id='{{validationButton}}' type='button'>{{_ 'validate'}}</button>
    </div>
</template>
