template(name='coachUpdate')
	.coach.col-sm-4
		h4 {{_ "coach"}}
		.input-group.input-group-sm
			span.input-group-addon {{_ "name"}}
			input.lastName.form-control(type='text', disabled='disabled', value='#{lastName}')
		.input-group.input-group-sm
			span.input-group-addon {{_ "firstName"}}
			input.firstName.form-control(type='text', disabled='disabled', value='#{firstName}')
		button.btn.btn-primary.btn-sm.coachUpdate(id='#{modifyButton}', type='button') {{_ "modify"}}
		button.btn.btn-success.disabled.btn-sm.coachValidation(id='#{validationButton}', type='button') {{_ "validate"}}
