<template name="gameInfos">
    <div class="gameInfos">
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "homeTeam"}}</span>
            <input type="text" class="teamHome form-control" disabled="disabled" value="{{gameInfos.homeTeam}}">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "awayTeam"}}</span>
            <input type="text" class="teamAway form-control" disabled="disabled" value="{{gameInfos.awayTeam}}">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "category"}}</span>
            <input type="text" class="category form-control" disabled="disabled" value="{{gameInfos.category}}">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "level"}}</span>
            <input type="text" class="level form-control" disabled="disabled" value="{{gameInfos.level}}">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "group"}}</span>
            <input type="text" class="group form-control" disabled="disabled" value="{{gameInfos.group}}">
        </div>
        <button class="btn btn-primary shadow btn-sm gameInfosUpdate" type='button'>{{_ "modify"}}</button>
        <button class='btn btn-success shadow disabled btn-sm gameInfosValidation' type='button'>{{_ 'validate'}}</button>
    </div>
</template>
