template(name='playerBio')
	h3 {{_ "gameDefinition"}}
	.cleafix
		with gameData
			+gameInfos
	h3 {{_ "playerDefinition"}}
	.clearfix
		with gameData
			h4 {{_ "yourClub"}} : #{gameInfos.yourClub}
		each playerData
			+playerUpdate
		each coachData
			+coachUpdate