template(name='playerUpdate')
	.player.col-sm-4
		h4 {{_ "player"}} #{jersey}
		form
			.form-group
				.input-group.input-group-sm
					span.input-group-addon {{_ "name"}}
					input.lastName.form-control(type='text', value='#{lastName}')
			.form-group
				.input-group.input-group-sm
					span.input-group-addon {{_ "firstName"}}
					input.firstName.form-control(type='text', value='#{firstName}')
			button.btn.btn-success.btn-sm.playerValidation(type='submit') {{_ "validate"}}
