<template name="playerBio">
    <div class="gameInfos cleafix">
        <h3>{{_ "gameDefinition"}}</h3> {{>gameInfos}}
    </div>
    <h3>{{_ "playerDefinition"}}</h3>
    <div class="homeTeam clearfix">
        <h4>{{_ "homeTeam"}} : {{gameInfos.homeTeam}}</h4>
        {{#each homeTeam.players}}
            {{>playerUpdate}}
        {{/each}}
        {{#each homeTeam.coachs}}
            {{>coachUpdate}}
        {{/each}}
    </div>
    <div class="awayTeam clearfix hidden">
        <h4>{{_ "awayTeam"}}</h4>
        {{#each awayTeam.players}}
            {{>playerUpdate}}
        {{/each}}
        {{#each awayTeam.coachs}}
            {{>coachUpdate}}
        {{/each}}
    </div>
</template>
