<template name="playerUpdate">
    <div class="player col-sm-4">
        <h4>{{_ "player"}} #{{jersey}}</h4>
        <input type="number" class="hidden playerIndex" value="{{playerIndex}}">
        <input type="text" class="hidden team" value="{{team}}">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">{{_ "name"}}</span>
            <input type="text" class="lastName form-control" disabled="disabled" value="{{lastName}}">
        </div>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">{{_ "firstName"}}</span>
            <input type="text" class="firstName form-control" disabled="disabled" value="{{firstName}}">
        </div>
        <button class="btn btn-primary btn-sm playerUpdate" id="{{modifyButton}}" type='button'>{{_ "modify"}}</button>
        <button class='btn btn-success disabled btn-sm playerValidation' id='{{validationButton}}' type='button'>{{_ 'validate'}}</button>
    </div>
</template>
