template(name='playerBio')
	h3 {{_ "gameDefinition"}}
	.cleafix
		with gameData
			+gameInfos
	h3 {{_ "playerDefinition"}}
	.clearfix
		h4 {{_ "yourClub"}} : #{gameInfos.yourClub}
		each yourClub.players
			+playerUpdate
		each yourClub.coachs
			+coachUpdate