<template name="gameDefinition">
    <h2>{{_ "teamDefinition"}}</h2>
    <div class="row">
        <a href="{{pathFor 'home'}}">
            <button type="button" class="returnButton shadow btn pull-left btn-info">{{_ "back"}}</button>
        </a>
        <button class='btn shadow btn-primary next pull-right clearfix' type='button'>{{_ "next"}}</button>
    </div>
    <div class="officialGame">
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "homeTeam"}}</span>
            <input type="text" id="homeTeam" list="homeClubList" class="awesomplete form-control">
            <datalist id="homeClubList">
                {{#each clubName}}
                    <option>{{name}}</option>
                {{/each}}
            </datalist>
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "awayTeam"}}</span>
            <input type="text" id="awayTeam" list="awayClubList" class="awesomplete form-control">
            <datalist id="awayClubList">
                {{#each clubName}}
                    <option>{{name}}</option>
                {{/each}}
            </datalist>
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "category"}}</span>
            <input type="text" id="category" class="form-control">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "level"}}</span>
            <input type="text" id="level" class="form-control">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "group"}}</span>
            <input type="text" id="group" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input id="privateGame" type="checkbox"> {{_ "privateGame"}}
            </label>
        </div>
    </div>
    <div class="footer">
        <a href="{{pathFor 'home'}}">
            <button type="button" class="btn shadow pull-left btn-info">{{_ "back"}}</button>
        </a>
        <button class="btn shadow next pull-right btn-primary" type="button">{{_ "next"}}</button>
    </div>
</template>
