<template name="newTeamDefinition">
    <h2>{{_ "teamData"}}</h2>
    <div id="teamData">
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "category"}}</span>
            <input type="text" id="category" class="form-control">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "level"}}</span>
            <input type="text" id="level" class="form-control">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "group"}}</span>
            <input type="text" id="group" class="form-control">
        </div>
    </div>
    <h2>{{_ "playerDefinition"}}</h2>
    <div id="playerCoachData">
        <div class="clearfix playerData">
            {{>teamPlayerDefinition}}
        </div>
        <button class="btn btn-primary clearfix shadow addPlayer" type='button'>{{_ "addPlayer"}}</button>
        <div class="clearfix coachData">
            {{>teamCoachDefinition}}
        </div>
        <button class="btn btn-primary clearfix shadow addCoach" type='button'>{{_ "addCoach"}}</button>
    </div>
</template>
