@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.table-responsive {
    margin-top: 20px;
}

.score {
    margin-bottom: 20px;
}

.homeTeamColor {
    background-color: #FFCF3A;
}

.awayTeamColor {
    background-color: #FF753A;
}

.homeTeamPlayers > .inPlay,
.awayTeamPlayers > .inPlay {
    background-color: #ADF5FF;
}

.bar {
    display: inline-block;
    width: 25px;
    background-color: red;
    margin: 1px;
}

#scoreChart,
#scoreChart1,
#scoreChart2 {
    margin: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
