<template name="summary">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4>{{gameInfos.homeTeam}}</h4>
            <p>{{_ "gameScore"}} : {{gameStats.score.homeTeam}}</p>
            <p>{{_ "shootPercentage"}} : {{_ "twoPoints"}} {{homeTeamPercentage2PointsShoots}} % - {{_ "threePoints"}} {{homeTeamPercentage3PointsShoots}} %</p>
            <p>{{_ "mvp"}} : {{_ "num"}}{{bestHomeTeamPlayer.jersey}} - {{bestHomeTeamPlayer.totalPoints}} {{_ "pts"}} - {{bestHomeTeamPlayer.evaluation}} {{_ "eval"}}</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4>{{gameInfos.awayTeam}}</h4>
            <p>{{_ "gameScore"}} : {{gameStats.score.awayTeam}}</p>
            <p>{{_ "pointsPartition"}} : {{_ "twoPoints"}} {{awayTeamTwoPointsPartition}} % - {{_ "threePoints"}} {{awayTeamThreePointsPartition}} %</p>
            <p>{{_ "bestScorer"}} : {{_ "num"}}{{bestAwayTeamPlayer.jersey}} - {{bestAwayTeamPlayer.totalPoints}} {{_ "pts"}}</p>
        </div>
    </div>
    <h4>{{_ "homeTeam"}} : {{gameInfos.homeTeam}}</h4>
    <div class="table-responsive">
        <table class="table shadow table-condensed">
            <thead>
                <tr class="homeTeamColor">
                    <th>{{_ "num"}}</th>
                    <th>{{_ "pts"}}</th>
                    <th>{{_ "twoPoints"}}</th>
                    <th>%</th>
                    <th>{{_ "threePoints"}}</th>
                    <th>%</th>
                    <th>{{_ "ft"}}</th>
                    <th>%</th>
                    <th>{{_ "rebOffDef"}}</th>
                    <th>{{_ "totalRebounds"}}</th>
                    <th>{{_ "assist"}}</th>
                    <th>{{_ "steal"}}</th>
                    <th>{{_ "turnover"}}</th>
                    <th>{{_ "block"}}</th>
                    <th>{{_ "foulProvComm"}}</th>
                    <th>{{_ "foulRatio"}}</th>
                    <th>{{_ "eval"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each homeTeam.players}}
                    <tr>
                        <th scope="row">{{jersey}}</th>
                        <td>{{stats.points.totalPoints}}</td>
                        <td>{{stats.points.twoPointsIn}}/{{total2PointsShoots}}</td>
                        <td>{{percentage2PointsShoots}}</td>
                        <td>{{stats.points.threePointsIn}}/{{total3PointsShoots}}</td>
                        <td>{{percentage3PointsShoots}}</td>
                        <td>{{stats.points.onePointIn}}/{{total1PointShoots}}</td>
                        <td>{{percentage1PointShoots}}</td>
                        <td>{{stats.rebounds.offReb}}-{{stats.rebounds.defReb}}</td>
                        <td>{{totalRebounds}}</td>
                        <td>{{stats.assists}}</td>
                        <td>{{stats.steals}}</td>
                        <td>{{stats.turnovers}}</td>
                        <td>{{stats.blocks}}</td>
                        <td>{{provokedFouls}}/{{stats.fouls.totalFouls}}</td>
                        <td>{{foulsRatio}}</td>
                        <td>{{stats.evaluation}}</td>
                    </tr>
                {{/each}}
                <tr class="homeTeamColor">
                    <th scope="row">{{_ "total"}}</th>
                    <td>{{gameStats.score.homeTeam}}</td>
                    <td>{{gameStats.shoots.homeTeam.twoPointsIn}}/{{homeTeamTotal2PointsShoots}}</td>
                    <td>{{homeTeamPercentage2PointsShoots}}</td>
                    <td>{{gameStats.shoots.homeTeam.threePointsIn}}/{{homeTeamTotal3PointsShoots}}</td>
                    <td>{{homeTeamPercentage3PointsShoots}}</td>
                    <td>{{gameStats.shoots.homeTeam.onePointIn}}/{{homeTeamTotal1PointShoots}}</td>
                    <td>{{homeTeamPercentage1PointShoots}}</td>
                    <td>{{gameStats.rebounds.homeTeam.offReb}}-{{gameStats.rebounds.homeTeam.defReb}}</td>
                    <td>{{homeTeamTotalRebounds}}</td>
                    <td>{{gameStats.assists.homeTeam}}</td>
                    <td>{{gameStats.steals.homeTeam}}</td>
                    <td>{{gameStats.turnovers.homeTeam}}</td>
                    <td>{{gameStats.blocks.homeTeam}}</td>
                    <td>{{homeTeamProvokedFouls}}/{{gameStats.fouls.homeTeam.totalFouls}}</td>
                    <td>{{homeTeamFoulsRatio}}</td>
                    <td>{{gameStats.evaluation.homeTeam}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4>{{_ "awayTeam"}} : {{gameInfos.awayTeam}}</h4>
    <div class="table-responsive">
        <table class="table shadow table-condensed">
            <thead>
                <tr class="awayTeamColor">
                    <th>{{_ "num"}}</th>
                    <th>{{_ "pts"}}</th>
                    <th>{{_ "twoPoints"}}</th>
                    <th>{{_ "threePoints"}}</th>
                    <th>{{_ "ft"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each awayTeam.players}}
                    <tr>
                        <th scope="row">{{jersey}}</th>
                        <td>{{stats.points.totalPoints}}</td>
                        <td>{{stats.points.twoPointsIn}}</td>
                        <td>{{stats.points.threePointsIn}}</td>
                        <td>{{stats.points.onePointIn}}</td>
                    </tr>
                {{/each}}
                <tr class="awayTeamColor">
                    <th scope="row">{{_ "total"}}</th>
                    <td>{{gameStats.score.awayTeam}}</td>
                    <td>{{gameStats.shoots.awayTeam.twoPointsIn}}</td>
                    <td>{{gameStats.shoots.awayTeam.threePointsIn}}</td>
                    <td>{{gameStats.shoots.awayTeam.onePointIn}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
