@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.table-responsive {
    margin-top: 20px;
}

.score {
    margin-bottom: 20px;
}

.homeTeamColor {
    background-color: #FFCF3A;
}

.awayTeamColor {
    background-color: #FF753A;
}

.homeTeamPlayers > .inPlay,
.awayTeamPlayers > .inPlay {
    background-color: #ADF5FF;
}

.bar {
    display: inline-block;
    width: 25px;
    background-color: red;
    margin: 1px;
}

#scoreChart {
    margin: 20px;
}
