template(name="replacement")
	#replacementAction
		.panel.panel-default
			.panel-heading
				.panel-title
					h3 {{_ "whoReplaceWho"}}
			.panel-body
				.clearfix
					.panel.panel-default
						.panel-heading
							.panel-title
								with gameData
									h4 {{_ "yourClub"}} : #{gameInfos.yourClub}
						.panel-body
							p.italic {{_ "explanationHowToMakeAReplacement"}}
							h4 {{_ "inPlay"}}
							#yourClubInPlay.row.playerRow
								each yourClubPlayersPlaying
									+yourClubPlayerReplacement
							h4 {{_ "onTheBench"}}
							#yourClubOnTheBench.row.playerRow
								each yourClubPlayersOnTheBench
									+yourClubPlayerReplacement
							+yourClubReplacementModal
				.clearfix
					.panel.panel-default
						.panel-heading
							.panel-title
								with gameData
									h4 {{_ "opponent"}} : #{gameInfos.opponent}
						.panel-body
							p.italic {{_ "explanationHowToMakeAReplacement"}}
							h4 {{_ "inPlay"}}
							#opponentInPlay.row.playerRow
								each opponentPlayersPlaying
									+opponentPlayerReplacement
							h4 {{_ "onTheBench"}}
							#opponentOnTheBench.row.playerRow
								each opponentPlayersOnTheBench
									+opponentPlayerReplacement
							+opponentReplacementModal