template(name="replacement")
	with gameData
		#replacementAction
			.panel.panel-default
				.panel-heading
					h4 {{_ "whoReplaceWho"}}
				.panel-body
					.panel.panel-default
						.panel-heading
							h4.panel-title {{_ "yourClub"}} : #{gameInfos.yourClub}
						.panel-body
							p
								em {{_ "explanationHowToMakeAReplacement"}}
							.panel.panel-default
								.panel-heading
									h4.panel-title {{_ "inPlay"}}
								.panel-body
									#yourClubInPlay.row
										each yourClubPlayersPlaying
											+yourClubPlayerReplacement
							.panel.panel-default
								.panel-heading
									h4.panel-title {{_ "onTheBench"}}
								.panel-body
									#yourClubOnTheBench.row
										each yourClubPlayersOnTheBench
											+yourClubPlayerReplacement
						+yourClubReplacementModal
					.panel.panel-default
						.panel-heading
							h4.panel-title {{_ "opponent"}} : #{gameInfos.opponent}
						.panel-body
							p
								em {{_ "explanationHowToMakeAReplacement"}}
							.panel.panel-default
								.panel-heading
									h4.panel-title {{_ "inPlay"}}
								.panel-body
									#opponentInPlay.row
										each opponentPlayersPlaying
											+opponentPlayerReplacement
							.panel.panel-default
								.panel-heading
									h4.panel-title {{_ "onTheBench"}}
								.panel-body
									#opponentOnTheBench.row
										each opponentPlayersOnTheBench
											+opponentPlayerReplacement
						+opponentReplacementModal