template(name='home')
	.jumbotron.text-center
		h1 {{_ "ApplicationName"}}
		p {{_ "appTeaserPhrase"}}
		if currentUser
			+creationGame
		else
			p {{_ "loginToBeginTakingStats"}}
	.panel.panel-default
		.panel-heading
			h3 {{_ "followDirect"}}
		.panel-body
			.row
				each game
					+GameCard
				else
					p.no-games {{_ "noLiveGames"}}
		.panel-footer
			a(href="{{pathFor 'liveGames'}}") {{_ "orSelectARunningGame"}}
	.panel.panel-default
		.panel-heading
			h3 {{_ "seeEndedGames"}}
		.panel-body
			.row
				each endedGame
					+GameCard
				else
					p.no-games {{_ "noLiveGames"}}
		.panel-footer
			a(href="{{pathFor 'liveGames'}}") {{_ "orSelectAnEndedGame"}}
