<template name="settings">
    <div class="loginInfos">
        <h1>{{_ "loginInfos"}}</h1>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "pseudo"}}</span>
            <input type="text" id="pseudo" class="form-control" value="{{username}}">
        </div>
        <button class="btn btn-success shadow" id="loginInfosPseudoValidate" type='button'>{{_ "validate"}}</button>
    </div>
    <div class="personalInfos">
        <h1>{{_ "personalInfos"}}</h1>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "name"}}</span>
            <input type="text" id="name" class="form-control" value="{{profile.name}}">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "firstName"}}</span>
            <input type="text" id="firstName" class="form-control" value="{{profile.firstName}}">
        </div>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "email"}}</span>
            <input type="text" id="email" class="form-control" value="{{address}}">
        </div>
        <button class="btn btn-success shadow" id="personalInfosValidate" type='button'>{{_ "validate"}}</button>
        <h4>{{_ "actualClub"}}</h4>
        <div class="input-group shadow input-group-sm">
            <span class="input-group-addon">{{_ "club"}}</span>
            <input type="text" id="club" class="awesomplete form-control" list="clubList" value="{{profile.club}}">
            <datalist id="clubList">
                {{#each clubName}}
                    <option>{{name}} - {{city}}</option>
                {{/each}}
            </datalist>
        </div>
        <button class="btn btn-success shadow" id="personalInfosClubValidate" type='button'>{{_ "validate"}}</button>
    </div>
    <div class="deleteUser">
        <button class="btn btn-danger shadow" id="deleteAccount" type='button'>{{_ "deleteAccount"}}</button>
    </div>
</template>
